
header
{
    display: flex;
    align-items: center;
    justify-content: space-between;
    top: 0px;
    position: sticky;
    z-index: 100%;
    background-color: rgb(196, 226, 238);
    padding: 10px;
    height: 80px;
}
header ul li
{
    display: inline;
    justify-content: center;
    align-items: center;
    margin: 7px;
    height: 40px;
    background-color: rgb(23, 112, 157);
    padding: 10px;
    border: 1px solid black;
    border-radius: 20px;
    box-shadow: 10px 10px 5px rgb(41, 37, 37);
}
header ul li:active
{
    box-shadow: none;
}
header ul li a
{
    text-decoration: none;
    font-size: 20px;
    color: white;
}
#login
{
    margin: 7px;
    height: 40px;
    background-color: rgb(23, 112, 157);
    padding: 10px;
    border: 1px solid black;
    border-radius: 20px;
    box-shadow: 10px 10px 5px rgb(41, 37, 37);
    font-size: 20px;
}
#login:active
{
    box-shadow: none;
}
#theme
{
    margin: 5px;
    background-image: linear-gradient(to right,black,white);
    border-radius: 50px;
    box-shadow: 10px 10px 5px rgb(41, 37, 37);
}
#theme:active
{
    box-shadow: none;
}
.model
{
    display: none;   
}
#md 
{
    margin-left: 40%;
    margin-top: 15%;
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        width: 250px;
        height: 350px;
        background-image: linear-gradient(to top left,rgb(231, 237, 240),rgb(186, 201, 208),rgb(80, 125, 147),rgb(23, 112, 157));
        backdrop-filter: blur(3px);
        z-index: 1;
        border: 1px solid black;
    border-radius: 10px;
    /* background-color: rgb(23, 112, 157); */
    
}
.close
{
    text-align: end;
    margin-top: 2px;
    margin-right: 2px;
}
.form
{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 20px;
}
input
{
    height: 25px;
    border-radius: 10px;
    background-color: rgb(251, 201, 218);
}
#submit
{
    height: 25px;
    border-radius: 10px;
    background-color: rgb(251, 201, 218);
}

.close button
{
    background-color: black;
}
.close button:hover
{
    background-color: red;
    color: black;
}
h1
{
    text-align: center;
    font-size: 50px;
    text-decoration: underline;
}
h2
{
    color: black;
    
}
#book_library
{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    padding: 50px;
    gap:30px;
}
.book
{
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    border-radius: 30px;
    box-shadow: 10px 10px 5px rgb(41, 37, 37);
    height: auto;
    flex-direction: column;
    padding-left: 15px;
    padding-top: 20px;
    padding-bottom: 20px;
    width: auto;
    margin-left: 50px;
    background-image: linear-gradient(to right,rgb(255, 140, 0),rgb(232, 155, 60),rgb(238, 180, 110),rgb(238, 198, 150),rgb(245, 241, 237));
}
.book img
{
    height: 300px;
    width: 200px;
}
.btn
{
    height: 40px;
    width: 150px;
    background-color: rgb(23, 112, 157);
    border-radius: 20px;
    border: 1px solid black;
    box-shadow: 10px 10px 5px rgb(41, 37, 37);
}
.btn:active
{
    box-shadow: none;
}
.btn a
{
    text-decoration: none;
    font-size: 20px;
    color: white;
}
#movie_library
{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    padding: 50px;
    gap:30px;
}
.movie
{
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    border-radius: 30px;
    box-shadow: 10px 10px 5px rgb(41, 37, 37);
    height: auto;
    flex-direction: column;
    padding-left: 15px;
    padding-top: 20px;
    padding-bottom: 20px;
    width: auto;
    margin-left: 50px;
    background-image: linear-gradient(to right,rgb(123, 141, 148),rgb(147, 169, 177),rgb(184, 210, 220),rgb(196, 226, 238),rgb(232, 244, 248));
}
.movie img
{
    height: 200px;
    width: 200px;
}
#cars_library
{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    padding: 50px;
    gap:30px;
}
.car
{
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    border-radius: 30px;
    box-shadow: 10px 10px 5px rgb(41, 37, 37);
    height: auto;
    flex-direction: column;
    padding-left: 15px;
    padding-top: 20px;
    padding-bottom: 20px;
    width: auto;
    margin-left: 50px;
    background-image: linear-gradient(to right,rgb(205, 127, 127),rgb(209, 143, 143),rgb(204, 159, 159),rgb(210, 180, 180),rgb(216, 201, 201));
}
.car img
{
    height: 200px;
    width: 300px;
}
.dark
{
    background-color: black;
    color: white;
}
footer
{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    margin: 20px;
}
.end
{
    font-size: 20px;
    justify-content: center;
    text-align: center;
    background-color: aquamarine;
    color: black;
}