*
{
    box-sizing: border-box;
}
header{
    display: flex;
    border: 1px solid blue;
    justify-content:space-between;
    align-items: center;
    padding:10px;
    background-color: violet;
}
.logo
{
   display:flex;
   justify-content: center;
   align-items: center;
}
.logo h1{
    font-size: 50px;
}

.menu ul li
{
 display:inline-block;
 margin: 20px;
 border:2px solid black;
 height: 40px;
 width: 80px;
 font-size: 20px;
 margin: 30px;
 padding-left: 15px;
padding-top: 5px;
background-color: rgb(52,2,52);
box-shadow: 5px 5px 5px (0,0,0);
}
.menu ul li a{
    text-decoration: none;
}
